* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.gate {
    display: inline-block;
    height: 40px;
    width: 480px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 500;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 90px;
    transition: all .3s ease-in-out;
}

.gate::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
}

.gate+label {
    display: inline-block;
    height: 40px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 25px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #7AB893;
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 99;
}

.gate+label:before,
.gate+label:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    background: #377D6A;
    transform-origin: left bottom;
    transition: all .4s ease-in-out;
    pointer-events: none;
    z-index: -1;
}

.gate+label:before {
    background: rgba(3, 36, 41, 0.2);
    z-index: -2;
    right: 20%;
}

span:nth-child(2) .gate {
    text-indent: 90px;
}

span:nth-child(2) .gate:focus,
span:nth-child(2) .gate:active {
    text-indent: 0;
}

.gate:focus,
.gate:active {
    color: #377D6A;
    text-indent: 0;
    background: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.gate:focus::-webkit-input-placeholder,
.gate:active::-webkit-input-placeholder {
    color: #aaa;
}

.gate:focus+label,
.gate:active+label {
    transform: rotate(-66deg);
    border-radius: 3px;
}

.gate:focus+label:before,
.gate:active+label:before {
    transform: rotate(10deg);
}