* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

#username {
    height: 40px;
    width: 100px;
    position: relative;
    top: 25px;
    margin: 0 2% 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font: 20px sans-serif;
    background-color: rgb(127, 255, 212);
    border-color: black;
    border-width: 2.3px;
}

body img {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-left: 3%;
    margin-top: 2%;
}

header {
    position: relative;
    width: 100%;
    margin-top: 3%;
    text-align: center;
    font: 2em sans-serif;
}

#message {
    position: absolute;
    width: 190px;
    height: 50px;
    border: 2px;
    border-radius: 6px;
    border-style: solid;
    background-color: whitesmoke;
    margin: 10% 45%;
    padding: 10px 0;
    text-align: center;
    user-select: none;
    z-index: 99;
}

#loginframe {
    width: 700px;
    height: 500px;
    margin: 30px auto;
    border: 4px;
    border-style: solid;
    border-radius: 15px;
    background-color: darkgoldenrod;
    display: flex;
}

#loginframe form {
    width: 100%;
}

#loginframe form div {
    width: 100%;
    position: relative;
}


#loginframe form div input,
#loginframe form div label {
    margin: 70px 0 0 100px;
}

#loginframe form>input {
    width: 200px;
    position: relative;
    display: block;
    margin: 50px auto;
}

#backtomain {
    display: flex;
    justify-content: center;
    align-items: center;
}

#backtomain button {
    width: 250px;
    letter-spacing: 10px;
}