* {
    margin: 0;
    padding: 0;
}

header .banner {
    width: 100%;
    height: 250px;
    background-color: rgb(208, 46, 46);
}

#logo {
    width: 360px;
    height: 160px;
    margin-left: 140px;
    margin-top: 40px;
}

header .menu {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: pink;
}

.menu div {
    margin: 15px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: bisque;
}

.menu ul {
    display: none;
    list-style: none;
}

.menu ul li a {
    font-size: large;
}



.swiper {
    width: 70%;
    height: 600px;
    margin-top: 70px;
}

.swiper-wrapper {
    /* 通过改变animation-timing-function 制作弹性切换效果 */
    transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
}